<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Recent Postings</h1>

<span class="new_btn">
    <%= link_to 'New Post', new_post_path, remote: true, class: "btn btn-danger" %>
</span>


<div id="posts">
    <%= render @posts %>
</div>

<div id="blog-form" style="display:none;"></div>



